a.nav:hover {
  transform: scale(1.2);
  transition: all 0.1s ease-in-out;
  color: var(--color-accent);
}

.brand:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.nav-div {
  color: var(--font-color);
}

@media screen and (max-width: 600px) {
  .nav-div {
    color: var(--font-color);
    background-color: var(--color-primary);
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 150px;
  }
}
